<div style="text-align:center" class="title">
  <h1>Resumo: {{minha_UF.nome}}</h1>
  <p>Tocantins (pronúncia em português: [tokɐ̃ˈtʃĩs]) é uma das 27 unidades federativas do Brasil, sendo o seu mais novo estado.[8] Está localizado a sudeste da Região Norte e tem como limites Goiás a sul, Mato Grosso a oeste e sudoeste, Pará a oeste e noroeste, Maranhão a norte, nordeste e leste, Piauí a leste e Bahia a leste e sudeste.</p>
</div>
<p>Área: {{minha_UF.area}} </p>
<p> Média de Municípios Atendidos: {{media}} </p>
